/* Box of interaction elements over header */
.postly--box-interaction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;

    opacity: 0;
    transition: opacity ease 0.4s;

    box-sizing: border-box;
    padding: 0 0.25em;
}

.postly--box-interaction:hover {
    opacity: 0.87;
}

.postly--box-interaction-icon {
    border-radius: 50%;
    background-color: white;
    color: black;
    padding: 0.2em;
    margin: 0.2em;
    transition: box-shadow ease 0.2s;
}

.postly--box-interaction-icon:active {
    box-shadow: 0 4pt 5pt 0 rgba(0,0,0,.14),0 1pt 10pt 0 rgba(0,0,0,.12),0 2pt 4pt -1pt rgba(0,0,0,.2)
}

.postly--box-interaction-spacer {
    flex-grow: 1;
    order: 2;
}

.postly--drag-handle {
    order: 1;
    cursor: move;
}

.postly--delete-handle {
    order: 4;
}

.postly--edit-handle {
    order: 3;
}

/* Style for drag and drop actions */
.postly--box {
    transition: opacity ease 0.2s;
}

.postly--box.postly--dragging {
    opacity: 0.5;
    z-index: 64;
}

.postly--column-overlay {
    position: absolute;
    width:  100%;
    height: 100%;
    z-index: 32;
}

.postly--dummy-box {
    opacity: 0.5;
}

/* Style for editing content */
.postly--source-edit {
    font: inherit;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.25em;
    z-index: 24;
    box-sizing: border-box;
    border: none;
}

textarea {
    resize: vertical;
}

.postly--edit-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: white;
    color: black;

    opacity: 0;
    transition: opacity ease 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.postly--edit-overlay:hover {
    opacity: 0.87;
}
