/* A theme for a University of Michigan themed poster */
main {
    /* A0 landscape */
    height: 841mm;
    width: 1189mm;
}

header {
    /* Height of title bar */
    height: 15%;
}

html {
    /* scale up global font size */
    font-size: 240%;
}

.header-background, .box-title {
    font-size: 2rem;
    background-color: #0e2b58;
    border-bottom: 0.1rem solid #fccb06;
}

header, .box-title, .box-content {
    padding: 1%;
}

.column {
    padding: 0 1% 1% 0;
}

.column:first-child {
    padding-left: 1%;
}

.logo {
    float: right;
    height: 100%;
}

.title, .author, .box-title {
    color: white;
    margin: 0;
    line-height: 1;
}

.title {
    font-size: 4rem;
    margin-bottom: 0.2em;
}

.author {
    font-size: 2rem;
}

.box-title {
    text-align: center;
}

.figure {
    display: block;
    margin: 1em auto;
    width: 70%;
}

@media print {
    html, body {
        /* FIXME This is a heuristic for printing, I don't know why it's necessary */
        zoom: 1.15;
    }
}
